//Color Pallete//

/* CSS HEX */
$dim-gray: #65655eff;
$violet-blue-crayola: #7d80daff;
$blue-bell: #b0a3d4ff;
$thistle: #cebacfff;
$silver-pink: #c6afb1ff;


//Secondary Pallete//@at-root$raisin-black: #2B282Fff;
$rosewood: #5E1715ff;
$bud-green: #87B672ff;
$dark-moss-green: #505F21ff;
$cinereous: #927D78ff;
$grey: #E3DEE5;
$grey-op: rgba(227, 222, 229, 0.65);
$white: #FFFFFFff;


$primary-color: $dim-gray;
$secondary-color: $violet-blue-crayola;
$ternary-color: $blue-bell;

$font-color: $thistle;


$main-bg-color: $cinereous;
$secondary-bg-color: $dim-gray;

$highlight-color: $rosewood;
$highlight-2-color: $bud-green;


