@import "./colors";


$primary-font:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif; 
$title-font: "";
$highlight-font: "";
$bold-font:  "";

*,
*:before,
*:after {
  font-family: $primary-font;
  font-size: 17px;
  color: $font-color;
  line-height: 1;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
