

@mixin center-pic () {
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
}

@mixin pic-center-top{
    object-fit: contain;
    background-position: center top;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;

}