@import '../Base/colors';
@import '../Base/sizing';
@import '../Base/flex';
body{
    background-color: $main-bg-color;
}
@mixin full-page($height-vh) {
    //Sizing//
    height: $height-vh;


    //Spacing//
    padding-left: $padding-3;
    padding-right: $padding-3;
    padding-top: $padding-3;
    padding-bottom: $padding-3;

    @include flex-builder(center-all);

    //Background Color//

}

@mixin viewport{
    max-width: $max-page-width;
}