@import '../Base/colors';
@import '../Base/sizing';
@import '../Base/flex';

body{
    background-color: $main-bg-color;
}

@mixin full-page($height-vh) {
    //Sizing//
    height: $height-vh;
    max-height: $max-page-height;

    width: 100%;
    max-width: 100vw;
    

    @include flex-col(top-center);


    
}

@mixin viewport{
    max-width: $max-page-width;
}

