
@import "../Pages/page";
@import "../Images/img-placement";
@import "../Base/padding";


.about-full{
    @include full-page(fit-content);
    max-height: fit-content;
    
    
}


.about-viewport{
    background-color: $main-bg-color;
    position: relative;
    z-index: 11;
    @include viewport;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    
    max-width: 100%;
    height: 100%;
    
    padding: $padding-6;
    
    @include flex-col(center-all);
    .about-box-1{
        width: 70%;
     
        padding-right: $padding-7;

         h3 {
            padding-top: $padding-6;
            padding-bottom: $padding-6;
        }


        .about-info-container{
            width: 100%;

            margin-top: $padding-6;
            padding: $padding-6;

            border: 2px solid $highlight-color;
            border-radius: 5px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

           
                .about-info-sub-container{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;

                    div {
                        width: 50%;
                        margin: $padding-2;

                        p{
                            padding: $padding-2;
                        }

                    }
                }
            
        }    
    }

    .about-box-2 {
        width: 30%;
        height: 100%;
        
        @include flex-row(center-all);

        
            .about-pic{
                @include center-pic;
                height: 30vw;
                width: 30vw;
        
                border-radius: 50%;
                border: 2px solid $highlight-color;
                // border: solid .25rem $highlight-color;
            }
    }



 
}