@import "../Pages/page";
@import "../Images/img-placement";

.landing-full {
  @include full-page(100vh);
}

.landing-viewport {
  @include viewport;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;

  .landing-pic-container {


    max-height: 650px;

    .landing-pic {
      @include center-pic;
      max-width: 100%;
      
  
      position: fixed;
    left: 0;
      z-index: 9;
    }
  }

  .landing-title-container {
    background-color: transparent;
    padding-left: $padding-6;
    max-height: 100%;
    max-width: 30%;
    flex-wrap: wrap;

    position: absolute;
    left: 0;
    z-index: 10;
  }
}
