@import "../Base/colors";
@import "../Base/sizing";
@import "../Base/flex";
@import "../Base/padding";

@import "../Pages/page";

.page-break {
  // max-width: 100vw;
  @include full-page(20vh);

  background-color: $silver-pink;

  // //Center Text//

  position: relative;
  z-index: 11;
  padding: $padding-2;

  @include flex-col(center-all);
  flex-wrap: nowrap;
  width: 100%;

  a {
    padding: 2rem;
    
    .fab, .fas{
        color: $highlight-2-color;
  }

  .fab:hover, .fas:hover {
    color: $violet-blue-crayola;
    transition: color .5s ease-in;
  }

  .fab:not(:hover), .fas:not(:hover){
    transition: color 1s ease-out;
  }
  
}
}
