

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  // font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  list-style: none;
  box-sizing: border-box;
}




a {
  color: inherit;
  text-decoration: none;
}

u {
  
  text-decoration: none;
  border-bottom: 2px solid rgba(227, 222, 229, 0.65);;
}

input, input:focus, textarea, textarea:focus select, select:focus{
  outline: none;
  border: none;
}