@import "./Sass-Styles/reset";
@import "./Sass-Styles/Base/flex";
@import "./Sass-Styles/Base/grid";
@import "./Sass-Styles/Base/margin";
@import "./Sass-Styles/Base/padding";
@import "./Sass-Styles/Base/colors";
@import "./Sass-Styles/Base/font";
@import "./Sass-Styles/Base/font-size";




//Pages
@import "./Sass-Styles/Pages/page";

//Components 
@import "./Sass-Styles/Components/nav";
@import "./Sass-Styles//Components/nav-mobile";
@import "./Sass-Styles/Components/landing-page";
@import "./Sass-Styles/Components/page-break";
@import "./Sass-Styles/Components/about-page";
@import "./Sass-Styles/Components/about-page-mobile";
@import "./Sass-Styles/Components/page-break-2";
@import "./Sass-Styles/Components/projects";

//Decorations
@import "./Sass-Styles/Decorations/text-decorations";

//Buttons
@import "./Sass-Styles//Buttons/buttons";

.app{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}