html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

u {
  text-decoration: none;
  border-bottom: 2px solid rgba(227, 222, 229, 0.65);
}

/* CSS HEX */
/* CSS HEX */
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  color: #cebacfff;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

/* CSS HEX */
body {
  background-color: #927D78ff;
}

/* CSS HEX */
.nav-full {
  width: 100%;
  height: 11vh;
  background-color: #7d80daff;
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-full .nav-viewport {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-full .nav-viewport .nav-logo > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: col;
          flex-direction: col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 10vh;
}

.nav-full .nav-viewport .nav-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.nav-full .nav-viewport .nav-link-container .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-full .nav-viewport .nav-link-container .nav-link:hover {
  background-color: #b0a3d4ff;
  -webkit-transition: background-color .5s ease-in;
  transition: background-color .5s ease-in;
}

.nav-full .nav-viewport .nav-link-container .nav-link:not(:hover) {
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

/* CSS HEX */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .burger-container {
  padding: 1rem;
  position: fixed;
  z-index: 101;
}

.nav-mobile-full {
  width: 100%;
  height: 100%;
  background-color: #7d80daff;
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-mobile-full .nav-mobile-viewport {
  max-width: 1400px;
  width: 100%;
  height: 100%;
}

.nav-mobile-full .nav-mobile-viewport .nav-mobile-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-mobile-full .nav-mobile-viewport .nav-mobile-link-container .nav-mobile-link {
  width: 100%;
  height: auto;
  padding: 2rem 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-mobile-full .nav-mobile-viewport .nav-mobile-link-container .nav-mobile-link:hover {
  background-color: #b0a3d4ff;
  -webkit-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in;
}

.navOpen {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  white-space: nowrap;
  overflow: hidden;
  opacity: 1;
  width: 100%;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-right: 100%;
    width: 0%;
    opacity: 0;
  }
  to {
    margin-right: 0%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 0%;
    opacity: 0;
  }
  to {
    margin-right: 0%;
    width: 100%;
    opacity: 1;
  }
}

.navClosed {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  width: 0%;
  -webkit-animation-name: slideout;
          animation-name: slideout;
}

@-webkit-keyframes slideout {
  from {
    margin-right: 0%;
    width: 100%;
    opacity: 1;
  }
  to {
    margin-right: 100%;
    width: 0%;
    opacity: 0;
  }
}

@keyframes slideout {
  from {
    margin-right: 0%;
    width: 100%;
    opacity: 1;
  }
  to {
    margin-right: 100%;
    width: 0%;
    opacity: 0;
  }
}

/* CSS HEX */
body {
  background-color: #927D78ff;
}

.landing-full {
  height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: col;
          flex-direction: col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.landing-viewport {
  max-width: 1400px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 100%;
}

.landing-viewport .landing-pic-container {
  max-height: 650px;
}

.landing-viewport .landing-pic-container .landing-pic {
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  left: 0;
  z-index: 1;
}

.landing-viewport .landing-title-container {
  background-color: transparent;
  padding-left: 2rem;
  max-height: 100%;
  max-width: 30%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  left: 0;
  z-index: 10;
}

/* CSS HEX */
/* CSS HEX */
body {
  background-color: #927D78ff;
}

.page-break {
  height: 20vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: col;
          flex-direction: col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #c6afb1ff;
  position: relative;
  z-index: 11;
  padding: 0.5rem;
  display: flex;
  flex-direction: col;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.page-break a {
  padding: 2rem;
}

.page-break a .fab, .page-break a .fas {
  color: #87B672ff;
}

.page-break a .fab:hover, .page-break a .fas:hover {
  color: #7d80daff;
  -webkit-transition: color .5s ease-in;
  transition: color .5s ease-in;
}

.page-break a .fab:not(:hover), .page-break a .fas:not(:hover) {
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

/* CSS HEX */
body {
  background-color: #927D78ff;
}

.about-full {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: col;
          flex-direction: col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: fit-content;
}

.about-viewport {
  background-color: #927D78ff;
  position: relative;
  z-index: 11;
  max-width: 1400px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  -ms-flex-direction: col;
      flex-direction: col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-viewport .about-box-1 {
  width: 70%;
  padding-right: 4rem;
}

.about-viewport .about-box-1 h3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.about-viewport .about-box-1 .about-info-container {
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;
  border: 2px solid #5E1715ff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-viewport .about-box-1 .about-info-container .about-info-sub-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-viewport .about-box-1 .about-info-container .about-info-sub-container div {
  width: 50%;
  margin: 0.5rem;
}

.about-viewport .about-box-1 .about-info-container .about-info-sub-container div p {
  padding: 0.5rem;
}

.about-viewport .about-box-2 {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-viewport .about-box-2 .about-pic {
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  border: 2px solid #5E1715ff;
}

/* CSS HEX */
body {
  background-color: #927D78ff;
}

.about-mobile-full {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: col;
          flex-direction: col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: fit-content;
}

.about-mobile-viewport {
  background-color: #927D78ff;
  position: relative;
  z-index: 11;
  max-width: 1400px;
  padding: 2rem;
  max-width: 100%;
  height: 100%;
  padding: 2rem;
}

.about-mobile-viewport .about-mobile-box-1 {
  width: 100%;
}

.about-mobile-viewport .about-mobile-box-1 h3 {
  padding-bottom: 1rem;
}

.about-mobile-viewport .about-mobile-box-1 .about-mobile-info-container {
  width: 100%;
  margin-top: 2rem;
  padding: 0.5rem;
  border: 2px solid #5E1715ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-mobile-viewport .about-mobile-box-1 .about-mobile-info-container .about-mobile-info-sub-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-mobile-viewport .about-mobile-box-1 .about-mobile-info-container .about-mobile-info-sub-container div {
  width: 50%;
  margin: 0.5rem;
}

.about-mobile-viewport .about-mobile-box-1 .about-mobile-info-container .about-mobile-info-sub-container div p {
  padding: 0.5rem;
}

.about-mobile-viewport .about-mobile-box-2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 1rem;
}

.about-mobile-viewport .about-mobile-box-2 .about-mobile-pic {
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  height: 30vw;
  width: 30vw;
  margin-left: 0.5rem;
  border-radius: 50%;
  border: 2px solid #5E1715ff;
}

/* CSS HEX */
/* CSS HEX */
body {
  background-color: #927D78ff;
}

.page-break-2 {
  height: 32vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: col;
          flex-direction: col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #c6afb1ff;
  position: relative;
  z-index: 11;
  padding: 0.5rem;
  display: flex;
  flex-direction: col;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.page-break-2 a {
  padding: 2rem;
}

.page-break-2 a .fab, .page-break-2 a .fas {
  color: #87B672ff;
}

/* CSS HEX */
body {
  background-color: #927D78ff;
}

.projects-full {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: col;
          flex-direction: col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: fit-content;
}

.projects-viewport {
  background-color: #927D78ff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  max-width: 1400px;
  padding: 2rem;
  position: relative;
  z-index: 14;
}

.project-display-container {
  width: 100%;
}

.project-display-container h3 {
  text-align: center;
  padding: 2rem;
}

.projects-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
}

.projects-grid-container .grid-item {
  padding: 2rem;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.projects-grid-container .grid-item img {
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
}

.projects-grid-container .grid-item h5 {
  margin-bottom: 0.25rem;
}

.projects-grid-container .grid-item i {
  padding: 0.5rem;
}

.projects-grid-container .grid-item i:hover {
  font-size: 3em;
  -webkit-transition: font-size .2s ease-in, color .2s ease-in;
  transition: font-size .2s ease-in, color .2s ease-in;
  color: #7d80daff;
}

.projects-grid-container .grid-item i:not(:hover) {
  -webkit-transition: font-size .5s ease-out, color .2s ease-in;
  transition: font-size .5s ease-out, color .2s ease-in;
}

.projects-grid-container .grid-item .project-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-grid-container .grid-item .project-icon-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 4em;
  width: 4em;
}

.projects-grid-container .card-flip {
  background-color: transparent;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.projects-grid-container .card-flip-inner {
  position: relative;
  width: 100%;
  min-height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.projects-grid-container .card-flip:hover .card-flip-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.projects-grid-container .card-flip-front,
.projects-grid-container .card-flip-back {
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.projects-grid-container .card-flip-back {
  position: relative;
  top: 0px;
  height: 50vh;
}

.projects-grid-container .card-flip-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: col;
          flex-direction: col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-grid-container .card-flip-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: col;
          flex-direction: col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.projects-grid-container::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.projects-grid-container > *:first-child {
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.projects-grid-container > * {
  background: rgba(0, 0, 0, 0.1);
  border: 1px #5E1715ff;
}

/* CSS HEX */
body {
  background-color: #927D78ff;
}

.projects-full {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: col;
          flex-direction: col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: fit-content;
}

.projects-viewport {
  background-color: #927D78ff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  max-width: 1400px;
  padding: 2rem;
  z-index: 14;
}

.project-display-container {
  width: 100%;
}

.project-display-container h3 {
  text-align: center;
  padding: 2rem;
}

.projects-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
}

.projects-grid-container .grid-item-mobile {
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.projects-grid-container .grid-item-mobile img {
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
}

.projects-grid-container .grid-item-mobile h5 {
  margin-bottom: 0.25rem;
}

.projects-grid-container .grid-item-mobile i {
  padding: 0.5rem;
}

.projects-grid-container .grid-item-mobile i:hover {
  font-size: 3em;
  -webkit-transition: font-size .2s ease-in, color .2s ease-in;
  transition: font-size .2s ease-in, color .2s ease-in;
  color: #7d80daff;
}

.projects-grid-container .grid-item-mobile i:not(:hover) {
  -webkit-transition: font-size .5s ease-out, color .2s ease-in;
  transition: font-size .5s ease-out, color .2s ease-in;
}

.projects-grid-container .grid-item-mobile .project-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-grid-container .grid-item-mobile .project-icon-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 4em;
  width: 4em;
}

.projects-grid-container .card-flip {
  background-color: transparent;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.projects-grid-container .card-flip-inner {
  position: relative;
  width: 100%;
  min-height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.projects-grid-container .card-flip:hover .card-flip-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.projects-grid-container .card-flip-front,
.projects-grid-container .card-flip-back {
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.projects-grid-container .card-flip-back {
  position: relative;
  top: 0px;
  height: 50vh;
}

.projects-grid-container .card-flip-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: col;
          flex-direction: col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-grid-container .card-flip-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: col;
          flex-direction: col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.projects-grid-container::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.projects-grid-container > *:first-child {
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.projects-grid-container > * {
  background: rgba(0, 0, 0, 0.1);
  border: 1px #5E1715ff;
}

/* CSS HEX */
body {
  background-color: #927D78ff;
}

.skills-full {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: col;
          flex-direction: col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: fit-content;
}

.skills-viewport {
  background-color: #927D78ff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  max-width: 1400px;
  padding: 2rem;
  position: relative;
  z-index: 14;
  text-align: center;
}

.skills-viewport hr {
  margin: 2rem;
}

.skills-viewport h3 {
  padding: 2rem;
}

.skills-display-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 800px) {
  .skills-display-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.skills-sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .skills-sub-container {
    margin: .5rem;
  }
  .skills-sub-container h4 {
    font-size: 1rem;
  }
}

.skills-logo-container {
  max-height: 10vw;
  max-width: 10vw;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem;
}

.skills-logo-container .skills-logo {
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.contact-full {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: col;
          flex-direction: col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: fit-content;
}

.contact-viewport {
  background-color: #927D78ff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  max-width: 1400px;
  padding: 2rem;
  position: relative;
  z-index: 14;
}

/* CSS HEX */
.title-highlight {
  text-shadow: #918585 5px 5px 10px;
  color: #5E1715ff;
}

.title-highlight-2 {
  text-shadow: #918585 5px 5px 10px;
  color: #87B672ff;
}

/* CSS HEX */
button {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
}

.button-1 {
  margin: 0.5rem;
  background-color: #cebacfff;
  color: #5E1715ff;
}

.button-1:hover {
  background-color: #5E1715ff;
  color: #cebacfff;
  -webkit-transition: color 1s ease-in, background-color 1s ease-in;
  transition: color 1s ease-in, background-color 1s ease-in;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
